svg.drone {
  width: 15px;
  height: 15px;
  position: absolute;
  left: 50%;
  transform-origin: center;
  transform: translate(-50%, 50%);
}
svg.drone.down {
  transform: translate(-50%, 50%) rotate(180deg);;
}

svg.drone.docked {
  display: none;
}
