.drone {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 50%;
  transform-origin: center;
  transform: translate(-77%, 21%);
}

.drone.docked {
  display: none;
}

.drone svg {
  transform-origin: center;
}
.drone.down svg {
  transform: rotate(180deg);
}

