.system-visualizer {
  position: relative;
  overflow: hidden;
  width: 100px;
  height: 500px;
  outline: 1px solid;
}

svg.star {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 86%);
  width: 800px;
  height: 800px;
  opacity: 0.4;
  fill: #FF9800;
}
